@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700');

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #A54657;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

pre {

}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-color:#E8D6CB;
}

.App-header a {
  text-decoration: none;
  font-size: 4rem;
  color: #E8D6CB;
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color:#5D2E46;
}

.App-header h2 {
  display:flex;
  justify-content: center;
  vertical-align: center;
}

.item {
  background-color: #D0ADA7;
  /*border: 1px solid #5D2E46;*/
  padding:10px;
  border-radius:20px;
  margin:20px auto;
  max-width:90%;
}

.item p  {
  text-decoration: none;
  font-size: 2rem;
  font-weight:bold;
}

.subheader, h4 {
  color:#AF9164;
}

[type="text"] {
  max-width:400px;
  width:100%;
  font-size:1.4rem;
  border-radius:5px;
  line-height: 2rem;
  padding-left:.5rem;
}

button {
  border:none;
  background-color:transparent;
}

button:hover {
  cursor: pointer;
}


.todo p {
  position:relative;
  width:80%;
  margin:auto;
  background-color: #F7F3E3;
  margin-bottom:20px;
  border-radius:5px;
  padding:10px;
}

.todo button {
  position:absolute;
  right:0;
  top: -4px;
  font-size:2rem;
}

.todo button:hover {
  color:#A54657;
}
